/*.©_2017_Neutron_Technologies_AG__All_Rights_Rese {
  font-size: 12px;
  font-family: "TitilliumWeb";
  color: rgb(92, 92, 92);
  line-height: 1.917;
  text-align: right;
  position: absolute;
  left: 199.937px;
  top: 3117.992px;
  width: 277px;
  height: 12px;
  z-index: 99;
}

   */




* {
    padding: 0;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}
/* Navbar */

.navbar {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;    
}
.navBrand {
    margin-left: 100px;
    text-align: left;
    z-index: 999;
}

.navBrand .navBrandTitle a {  
    font-size: 30px;
    font-family: "Titillium Web";
    color: rgb(133, 134, 136);
    font-weight: bold;
    line-height: 0.467;  
}
.navBrand .navBrandTitle a:hover {
    font-size: 30px;
    font-family: "Titillium Web";
    color: rgb(91, 66, 149);
    font-weight: bold;
    line-height: 0.467;
    text-decoration: none;
}
.navBrand .navBrandTitle b {
    color: rgb(91, 66, 149);
}
.navBrand a {
    font-size: 14px;
    font-family: "Titillium Web";
    color: rgb(149, 149, 149);    
    line-height: 4;
    text-align: left;
    text-decoration: none;
}
.navBrand a:hover {
    font-size: 14px;
    font-family: "Titillium Web";
    color: rgb(149, 149, 149);        
    line-height: 4;
    text-align: left;
    text-decoration: underline;
}
.navBrand a:active {            /*!разобраться с активной кнопкой*/
    font-size: 14px;
    font-family: "Titillium Web";
    color: rgb(149, 149, 149);
    font-weight: bold;    
    line-height: 4;
    text-align: left;    
}

/* Nav List */
.navList {
    margin-left: 0;
    z-index: 111;
}
.navList ul {
    display: flex;
    align-items: center;      
}
.navList ul li {
    margin-left: 50px;
    list-style-type: none;    
    text-align: left;
}
.navListItem a {
    font-size: 16px;
    font-family: "Titillium Web";
    color: rgb(69, 69, 69);
    line-height: 3.5;
    text-decoration: none;
}
.navListItem a:hover {
    font-size: 16px;
    font-family: "Titillium Web";
    font-weight: bold;
    color: rgb(69, 69, 69);
    line-height: 3.5;
    text-decoration: none;
}

.fa-sign-in-alt {
    color: rgb(88, 44, 126);
}
.login a {
    margin-left: 10px;
    font-size: 16px;
    font-family: "Titillium Web";
    color: rgb(69, 69, 69);
    font-weight: normal;
    line-height: 3.5;
    text-decoration: none;
}
.login a:hover {
    margin-left: 10px;
    font-size: 16px;
    font-family: "Titillium Web";
    color: rgb(69, 69, 69);
    font-weight: bold;
    line-height: 3.5;
    text-decoration: none;
}
.login button {
    width: 100px;
    height: 40px;
    margin-left: 30px;
    background-image: url(../img/Shadow_1.png);
    background-color: rgb(88, 44, 126);
    box-shadow: 0px 7px 9px 0px rgba(142, 117, 222, 0.15),0px 13px 21px 0px rgba(20, 80, 204, 0.27),0px 13px 21px 0px rgba(0, 0, 0, 0.15),0px 4px 16px 0px rgba(102, 145, 233, 0.33),0px 4px 16px 0px rgba(0, 0, 0, 0.09),0px 3px 9px 0px rgba(53, 103, 205, 0.09),0px 3px 9px 0px rgba(0, 0, 0, 0.09),0px 3px 3px 0px rgba(102, 145, 233, 0.09),0px 3px 3px 0px rgba(0, 0, 0, 0.17);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    font-family: "Titillium Web";    
}
.login button:hover {
    color: rgb(149, 147, 147);
}
.bg {
    display: flex;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top: -200px;
}
.title {    
    padding: 250px 0;
    font-size: 45px;
    font-family: "Titillium Web";
    color: rgba(69, 69, 69, 0.839);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
.title p {
    font-weight: normal;
}
.title span {
    color: rgb(252, 71, 77);
    font-weight: normal; 
}
.account {
    height: 100px;
    margin-top: 50px;
    background: url(../img/Shadow_3.png) no-repeat;
    background-position: center;        
}
.account button {    
    background-color: rgb(95, 41, 102);    
    box-shadow: 0px 7px 9px 0px rgba(100, 115, 151, 0.15),0px 13px 21px 0px rgba(20, 80, 204, 0.27),0px 13px 21px 0px rgba(0, 0, 0, 0.15),0px 4px 16px 0px rgba(102, 145, 233, 0.33),0px 4px 16px 0px rgba(0, 0, 0, 0.09),0px 3px 9px 0px rgba(53, 103, 205, 0.09),0px 3px 9px 0px rgba(0, 0, 0, 0.09),0px 3px 3px 0px rgba(102, 145, 233, 0.09),0px 3px 3px 0px rgba(0, 0, 0, 0.17);
    font-size: 18px;
    font-family: "Titillium Web";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 3.111;    
    cursor: pointer;
    border:none;
    border-radius: 25px;
    outline: none;    
}
.account button:hover {    
    background-color: rgb(82, 37, 124);    
    box-shadow: 0px 7px 9px 0px rgba(100, 115, 151, 0.15),0px 13px 21px 0px rgba(20, 80, 204, 0.27),0px 13px 21px 0px rgba(0, 0, 0, 0.15),0px 4px 16px 0px rgba(102, 145, 233, 0.33),0px 4px 16px 0px rgba(0, 0, 0, 0.09),0px 3px 9px 0px rgba(53, 103, 205, 0.09),0px 3px 9px 0px rgba(0, 0, 0, 0.09),0px 3px 3px 0px rgba(102, 145, 233, 0.09),0px 3px 3px 0px rgba(0, 0, 0, 0.17);
    font-size: 18px;
    font-family: "Titillium Web";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 3.111;    
    cursor: pointer;
    border:none;
    border-radius: 25px;
    outline: none;    
}
.create {
    background: url(../img/Shadow_2.png);
    width: 250px;
    height: 50px;
    
}
.ios,
  .google {
      width: 50px;
      height: 50px;
  }
.social {
    margin: 0;
    padding: 250px 0;
    padding-right: 20px;
    align-items: center;
}

  .social a {
    display: block;
    margin: 20px 0;
    font-size: 22px;  
    color: rgba(69, 69, 69, 0.82);
    line-height: 1.682;
    text-decoration: none;
  }
  .social a:hover {
    color: rgb(149, 149, 149);
  }

  /* About */

  .about {
      display: flex;      
  }
  
  .aboutItem {
      max-width: 30%;
      margin: 0 20px;
  }
  .aboutTitle {
      display: flex;
  }
  .aboutTitle img {
      max-width: 100px;
      margin: 0;

  }

  .aboutTitle h3 {
    font-size: 30px;
    font-family: "Titillium Web";
    color: rgb(85, 85, 85);
    line-height: 1.233;
    text-align: left;
    font-weight: normal;
  }
  .aboutTitle h5 {
    font-size: 18px;
    font-family: "Titillium Web";
    color: rgb(149, 149, 149);    
    text-align: left;    
    font-weight: normal;
  }
  .aboutDescription {
    font-size: 14px;
    font-family: "Titillium Web";
    color: rgb(149, 147, 147);
    line-height: 1.571;
    text-align: left;
  }
.mainTitle {
    width: 66%;
    height: 200px;
    margin-left: 0;
    align-items: baseline;
    text-align: right;  
    border-bottom: solid 1px  rgb(92, 92, 92); 
    border-right: solid 1px  rgb(92, 92, 92);
}
.mainTitle h2 {
    margin-right: 20px;
    max-width: 70%;     
    font-size: 60px;
    font-family: "Titillium Web";
    font-weight: normal;
    color: rgb(83, 83, 83);
    line-height: 2;    
}
.mainTitle h5 {
    margin-right: 20px;
    max-width: 70%;    
    font-size: 24px;
    font-family: "Titillium Web";    
    color: rgb(149, 147, 147);
    line-height: 0.917;
}
.mainTitle span {
    color: rgb(252, 71, 77);
}
.main {
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-left: 84%;
    border: solid 1px rgb(83, 83, 83);
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    outline: none;
    cursor: pointer;   
}
.main:hover {
    background-color: rgb(248, 241, 241);
}
.newspapers {
    margin-top: 80px;
    max-width: 50%;
}
.home-demo {
    max-width: 500px;
    margin-top: 50px;
    margin-left: 20%;
}
.home-demo .item {
    background: none;
  }
  .home-demo .item.purple {
    background: purple;
  }
  .home-demo h2 {
    font-size: 24px;
    font-family: "Titillium Web";
    color: rgb(16, 16, 16);
    font-style: italic;
    font-weight: normal;
    line-height: 1.292;
    text-align: left;
  }
  .home-demo h5 {
    font-size: 14px;
    font-family: "Titillium Web";
    color: rgb(149, 147, 147);
    font-weight: normal;
    line-height: 1.292;
    text-align: left;
  }
  .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    outline: none;    
  }

  .device {      
      background: url(../img/deviceBg.jpg);      
  }
  .devices {
    align-items: center;
    display: flex;
    max-width: 80%;       
    margin-right: 0;
    border-bottom: solid 1px  rgb(149, 147, 147);
  }
  .devices img {
      max-width: 40%;
      margin-top: -60px;
      margin-left: -200px;
  }
  .deviceText {
      max-width: 40%;
      text-align: right;     
      z-index: 999;
  }

  .deviceText h2 {
  font-size: 36px;
  font-family: "Titillium Web";
  color: rgb(83, 83, 83);
  line-height: 0.611;
  font-weight: normal;
}
.deviceText h5 { 
    margin-top: 20px;   
    font-size: 16px;
    font-family: "Titillium Web";
    color: rgb(149, 147, 147);
    line-height: 1.375;
    font-weight: normal;
}
.load {
    margin-top: 50px;    
}
.load a {
    max-width: 150px;
    height: 50px;
}
.load img {
    width: auto;
    margin-left: 20px;
    
}
.pay {
    padding: 60px 0;
    padding-left: 100px;
    margin-left: 0;
    max-width: 80%;    
    border-bottom: solid 1px  rgb(149, 147, 147);
    text-align: center;
}
.pay h2 {
    font-size: 36px;
    font-family: "Titillium Web";
    color: rgb(83, 83, 83);
    line-height: 0.833;
    font-weight: normal;
    text-align: center;
}
.pay h3 {
    margin-top: 20px;
    font-size: 24px;
    font-family: "Titillium Web";
    color: rgb(149, 147, 147);
    line-height: 0.833;
    font-weight: normal;
    text-align: center;
}
.btn {
    margin-top: 40px;
}

.paidBtn {
    width: 200px;
    height: 40px;
    background-image: url(../img/Shadow_4.png);
    background-color: rgb(95, 41, 102);
    box-shadow: 0px 7px 9px 0px rgba(100, 115, 151, 0.15),0px 13px 21px 0px rgba(20, 80, 204, 0.27),0px 13px 21px 0px rgba(0, 0, 0, 0.15),0px 4px 16px 0px rgba(102, 145, 233, 0.33),0px 4px 16px 0px rgba(0, 0, 0, 0.09),0px 3px 9px 0px rgba(53, 103, 205, 0.09),0px 3px 9px 0px rgba(0, 0, 0, 0.09),0px 3px 3px 0px rgba(102, 145, 233, 0.09),0px 3px 3px 0px rgba(0, 0, 0, 0.17);
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 40px;
}
.donateBtn {
    width: 100px;
    height: 40px;
    background-image: url(../img/Shadow_5.png);
    background-color: rgb(94, 123, 234);
    box-shadow: 0px 7px 9px 0px rgba(26, 230, 218, 0.15),0px 13px 21px 0px rgba(26, 230, 218, 0.27),0px 13px 21px 0px rgba(0, 0, 0, 0.15),0px 4px 16px 0px rgba(26, 230, 218, 0.33),0px 4px 16px 0px rgba(0, 0, 0, 0.09),0px 3px 9px 0px rgba(26, 230, 218, 0.09),0px 3px 9px 0px rgba(0, 0, 0, 0.09),0px 3px 3px 0px rgba(26, 230, 218, 0.09),0px 3px 3px 0px rgba(0, 0, 0, 0.17);
    border: none;
    border-radius: 20px;
    outline: none;
}
.paidBtn a, .donateBtn a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.brands {
    max-width: 70%;
    text-align: right;
}
.brands h5 {
    margin-right: 100px;
    font-size: 14px;
    font-family: "Titillium Web";
    font-weight: normal;
    color: rgb(122, 122, 122);
    line-height: 4;    
}
.brands img {
    max-width: 80%;
}

/* Footer */

.info {
    display: flex;
    max-width: 80%;
    margin-top: 100px;
}
.contacts {
    margin-left: 0;
}
.contacts span, h3 {
    font-size: 14px;
    font-family: "Titillium Web";
    font-weight: normal;
    color: rgb(92, 92, 92);
    line-height: 1.643;
    
}
.contacts a {
    font-size: 14px;
    font-family: "Titillium Web";
    font-weight: bold;
    text-decoration: none;
    color: rgb(92, 92, 92);
    line-height: 1.643;    
}
.contacts a:hover {
    font-size: 14px;
    font-family: "Titillium Web";
    font-weight: bold;
    text-decoration: underline;
    color: rgb(92, 92, 92);
    line-height: 1.643;    
}
.support {
    margin-top: 30px;
}
.network {
    margin-top: 100px;
}
.network a {
    font-size: 14px;
    font-family: "Titillium Web";
    font-weight: normal;
    text-decoration: none;
    color: rgb(92, 92, 92);
    line-height: 1.643;
}
.network a:hover {
    font-size: 14px;
    font-family: "Titillium Web";
    font-weight: normal;    
    text-decoration: underline;
    color: rgb(92, 92, 92);
    line-height: 1.643;
}
.rights {
    margin-top: 20px;
    font-size: 14px;
    font-family: "Titillium Web";
    color: rgb(92, 92, 92);
    line-height: 1.917;
    
}
.usefulLinks {
    display: flex;
    margin: 0;
    width: 60%;    
}
.usefulLinksItem {
    width: 33%;
    padding: 0 20px;
    text-align: end;    
}
.usefulLinksItem:first-child {
    border-right: solid 1px  rgb(122, 122, 122);
}
.usefulLinksItem h3 {
    font-size: 18px;
    font-family: "Titillium Web";
    color: rgb(92, 92, 92);
    font-weight: bold;
    line-height: 1.278;    
}
.usefulLinksItem ul {
    margin-top: 20px;
    list-style-type: none;
}

.usefulLinksItem ul li a {
    margin-right: 5px;
    font-size: 14px;
    font-family: "Titillium Web";
    font-weight: normal;
    text-decoration: none;
    color: rgb(122, 122, 122);
    line-height: 1.643;    
}
.usefulLinksItem ul li a:hover {
    font-size: 14px;
    font-family: "Titillium Web";
    font-weight: bold;
    text-decoration: none;
    color: rgb(122, 122, 122);
    line-height: 1.643;    
}
.fa-circle { 
    align-self: center;     
    font-size: 5px;    
    color: rgb(122, 122, 122);
}





@media all and (max-width: 900px) {

    .navList ul {
        display: none;       
        align-items: center;
        text-align: center;      
    }
}